<!DOCTYPE html>
<html>
<head>
	<title>Agregar ticket html</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>


    {% load static %} 
       <link href="{% static 'css/stylem.css' %}" rel="stylesheet" type='text/css'>
    


</head>
<body>

<h1> <a class ='logos' href='/tickets_asignados'><IMG SRC="/static/img/BOLA8.png" width='70px'>&nbsp<IMG SRC="/static/img/LETRASXIENCIAS1.png" width='450px'></a></h1>


    <form action="{% url "agregar_ticket" %}" method="post" enctype="multipart/form-data">


    {% csrf_token %}


    Asunto:<br>
    <input id="asunto" type="text" name="asunto" maxlength="100"><br>
    Tipo :<br>

    <select name="tipo" id="tipo" multiple>
    {% for tipos in tipos%}
     <option value="{{tipos.id}}">{{tipos.name}}</option>
    {% endfor %}
    </select>

    <br>
    Descripcion :<br>
    <textarea id="descripcion" name="descripcion" rows="10" cols="30" ></textarea><br>
            <!--<p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
                {{ form.docfile }}
                <div class='file_upload'><a class='archivo'> Adjuntar Archivo</a></div>
                <br>-->
                <input type='hidden' name='cont' value='0' id='cont'>
                <!--
                <div id='files'></div>
                <br>-->
            </p>
     <p><input type="submit" value="Enviar Ticket"  id="submit" /></p>
    </form>




<script>
	
$("#enviar").click(function() {

	asunto=$("#asunto").val()
	descripcion = $("#descripcion").val()
	asunto = asunto.replace(" ", "w");
	window.location.href = "/agregarm/"+String(asunto)+"/"+String(descripcion)

});

 $( ".tipos" ).click(function() {

    tipos = $(this).children().html()
    console.log(tipos)
});


setInterval('moverItem()',2000);



</script>



</body>
</html>