
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

    <title>Xiencias</title>


  </head>


  <body>

{% include "mheader.html" %}

  {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
  


     <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        
   
        <p>
          <a class="btn btn-lg btn-primary" href="/agregar_ticket_m" role="button">Generar Ticket &raquo;</a>
        </p>

         <h1><a href='/mdetalle_ticket/{{ticket.id}}/'>{{ticket.asunto}}</a></h1>
        <h2>Asignar un soporte</h2>
      </div>


<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
 
<div id='movil'>

<div id='ticket_id'>{{ticket.id}}</div>


<table class ='table'>
    
 {% for user_soporte in user_soporte%}
    <tr class='reasignar'>
     <td class='id'>{{user_soporte.id}}</td>
     <td >{{user_soporte.first_name}}</td>
     </tr>
{% endfor %}

</table>
</div>

<!--


<div class="container">
<form action="/asignar_post_gilda/" method="post" class='ticket' class="form-signin">
    
    {% csrf_token %}
    

    
 


    <br>
    
    <input value="{{ticket.id}}" id="field" type="hidden" name="ticket" maxlength="100">
    <label  class="sr-only">Soporte :</label><br>

    <select name="soporte" id="tipo" class="form-control input-lg">
    {% for user_soporte in user_soporte%}
     <option value="{{user_soporte.id}}">{{user_soporte.username}}</option>
	{% endfor %}
    </select>

     <br>
  

    <label class="sr-only"></label><input class="btn btn-lg btn-primary btn-block" type="submit" value="Asignar Ticket" /></div>

</form>

</div>

-->







<script>

$('.id').hide()

ticket = $("#ticket_id").text()
$("#ticket_id").hide()

if ($("#form").width() < 700) {

  $("#contenedor").hide()
  $("#movil").show()
  

}

if ($("#form").width() > 700) {

  $("#contenedor").show()
  $("#movil").hide()
}

 $( ".reasignar" ).mouseover(function() {



    $( ".reasignar" ).click(function() {

    soporte = $(this).children().html()

    $(this).css("background","#5C84C2");
    window.location.href = "/asignar_post_gilda_new/"+soporte+"/"+ticket

});

});


</script>


<style>

.reasignar{

    background: #697FA0;
    color:white;
    text-align: center;
}

</style>