
<body>

{% include "header.html" %}

Archivos del Ticket {{ticket.asunto}} {{ticket.id}}

<table>

<tr>
	<td>Usuario que subio el archivo</td>
	<td>Ruta</td>

</tr>

{% if documentos %}
	
	{% for document in documentos %}
		<tr>
		<td><a href="/ver_usuario/{{ticket.cliente_id}}/">{{document.user}}</a></td>
		<td><a href="http://www.xiencias.org/html/{{document.docfile.name}}">{{ document.docfile.name }}</a></td>
		</tr>
	{% endfor %}
	
{% else %}
	<p>No documents.</p>
{% endif %}

</table>

<br><br>
	<form action="{% url "list1" %}" method="post" enctype="multipart/form-data">


	{% csrf_token %}



				<div class='file_upload'><a class='archivo'> Adjuntar Archivo</a></div>
				<br>

				<input type='hidden' name='ticket' value='{{ticket.id}}' id='ticket'></input>
				<input type='hidden' name='cont' value='0' id='cont'></input>
				
				<div id='files'></div>
				<br>
			</p>
			<p><input type="submit" value="Upload"  id="field1" /></p>
		</form>





<script type="text/javascript">
	

	i=0

$( ".file_upload" ).click(function() {

	i=i+1
	x=i
	console.log(i)

	$("#files").append('<input type="file" id="file" name="docfile'+i+'"><br>')
	
	$("input#cont").val(i)

});

function Eliminar(i)
{
    
    x = $("#cont").text()
    console.log(x)
    var d=document.getElementById('#file'.i)
    console.log(d)
}




</script>