
<body>

{% include "mheader.html" %}

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./Signin Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>





{% if documentos %}

	<table class='table'>

<tr>
	<td>Usuario que subio el archivo</td>
	<td>Ruta</td>

</tr>
	
	{% for document in documentos %}
		<tr>
		<td><a href="/ver_usuario/{{ticket.cliente_id}}/">{{document.user}}</a></td>
		<td><a href="http://www.xiencias.org/html/{{document.docfile.name}}">{{ document.docfile.name }}</a></td>
		</tr>
	{% endfor %}
	
{% else %}
	<p>No existen documentos</p>
{% endif %}

</table>

<br><br>
	<form action="{% url "list1" %}" method="post" enctype="multipart/form-data">


	{% csrf_token %}



				<div class='file_upload'><a class='archivo'> Adjuntar Archivo</a></div>
				<br>

				<input type='hidden' name='ticket' value='{{ticket.id}}' id='ticket'></input>
				<input type='hidden' name='cont' value='0' id='cont'></input>
				
				<div id='files'></div>
				<br>
			</p>
			<p><input type="submit" value="Upload" class="btn btn-lg btn-primary btn-block"  id="field1" /></p>
		</form>





<script type="text/javascript">
	

	i=0

$( ".file_upload" ).click(function() {

	i=i+1
	x=i
	console.log(i)

	$("#files").append('<input type="file" id="file" name="docfile'+i+'"><br>')
	
	$("input#cont").val(i)

});

function Eliminar(i)
{
    
    x = $("#cont").text()
    console.log(x)
    var d=document.getElementById('#file'.i)
    console.log(d)
}




</script>