
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

    <title>Xiencias</title>

  </head>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>


<body>

{% include "mheader.html" %}

{% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>

      <div class="jumbotron">
        
   
        <p>
          <a class="btn btn-lg btn-primary" href="/agregar_ticket_m" role="button">Generar Ticket &raquo;</a>
        </p>

        <h1>Error Acceso no autorizado</h1>
     
    </div>


















</body>
</html>