<!DOCTYPE html>

{% include "mheader.html" %}

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>


    {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet" type='text/css'>

<body  data-feedly-mini="yes">



<div class="container">


<a>Soporte del ticket {{ticket.asunto}}</a>


<form action="/evento_add/" method="post" class='form-signin' enctype="multipart/form-data">
    
    {% csrf_token %}
    
    <label class="sr-only"></label><div id='field'><input  class="form-control" value="{{ticket.id}}" id="field" type="hidden" name="id_ticket" maxlength="100"></div>

    <label class="sr-only"></label><div id='field'><input  class="form-control"value="{{soporte.id}}" id="field" type="hidden" name="id" maxlength="100"></div>

        <br>
    

    <label class="sr-only">Evento :</label><br>
    <textarea id="field" name="name" rows="10" cols="30" class="form-control" required="">

    </textarea>
  
    
    <div class='file_upload'><a> Adjuntar Archivo</a></div>
    <br>
    <div id='files'></div>
    <input class="form-control" type='hidden' name='cont' value='0' id='cont' required=""></input>

    <label class="sr-only"></label><div id='field'><br><input  class="btn btn-lg btn-primary btn-block" id="field1" type="submit" value="Agregar Evento" /></div>

</form>


</div>


<script type="text/javascript">
	

	i=0

$( ".file_upload" ).click(function() {

	i=i+1
	x=i
	console.log(i)

	$("#files").append('<input required="" class="form-control" type="file" id="file" name="docfile'+i+'">')
	

	$("input#cont").val(i)

});

function Eliminar(i)
{
    
    x = $("#cont").text()
    console.log(x)
    var d=document.getElementById('#file'.i)
    console.log(d)
}


</script>


</body>