

{% include "layout.html" %}
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>


{{msj}}

<p class='rg'>Actualizar</p>

<table>
<tr>
    <td width='6%'>Id</td>
    <td width='25%'>Asunto</td>
    <td width='25%'>Soporte</td>
    <td width='25%'>Fecha Inicio</td>
   
</tr>

</table>

<table class ='nuevos'>



{% for ticket_nuevo in ticket_nuevo %}

    <tr class='aaa'>

    <td width='6%'>{{ticket_nuevo.id}}</td>
    <td width='25%'>{{ticket_nuevo.asunto}}</td>
    <td width='25%'>-</td>
    <td width='25%'>{{ticket_nuevo.fecha_inicio}}</td>
   

    </tr>

{% endfor %}

</table >


<table class ='preatendidos'>



{% for ticket_preatendido in ticket_preatendido %}

    <tr class='sss'>

    <td width='6%'>{{ticket_preatendido.ticket_id}}</td>
    <td width='25%'>{{ticket_preatendido.ticket__asunto}}</td>
    <td width='25%'>{{ticket_preatendido.soporte__username}}</td>
    <!--
    <td width='6%'>{{ticket_preatendido.ticket__fecha_inicio}}</td>
    <td width='10%'>{{ticket_preatendido.dcount}}</td>-->
    <td width='25%'>{{ticket_preatendido.dif_fecha}}</td>

    <!--
    <td width='10%' class='d'><a href="/reasignar_gilda/{{ticket_preatendido.ticket_id}}" >Reasignar</a></td>-->

    </tr>

{% endfor %}

</table>

</table>


<table class ='atendidos'>


{% for ticket_atendido in ticket_atendido %}

    <tr>


    <td width='6%'>{{ticket_atendido.ticket__asunto}}</td>
    <td width='25%'>{{ticket_atendido.soporte__username}}</td>
    <td width='25%'>{{ticket_atendido.ticket__fecha_inicio}}</td>
    <td width='25%'><a href="-" >-</a></td>

    </tr>

{% endfor %}

</table>


<table class ='porvalidar'>


{% for ticket_cerrados in ticket_cerrados %}

    <tr>


    <td width='6%'>{{ticket_cerrados.ticket__asunto}}</td>
    <td width='25%'>{{ticket_cerrados.soporte__username}}</td>
    <td width='25%'>{{ticket_cerrados.ticket__fecha_inicio}}</td>
    <td width='25%'><a href="-" >-</a></td>
  

    </tr>

{% endfor %}

</table>


<script type="text/javascript">
    
    $( ".sss" ).mouseover(function() {


  console.log($(this).children().html())

    $( ".sss" ).click(function() {
    
    window.location.href = "/reasignar_gilda/"+$(this).children().html()

});

});




  $( ".aaa" ).mouseover(function() {


  console.log($(this).children().html())

    $( ".aaa" ).click(function() {
    
    window.location.href = "/asignar_gilda/"+$(this).children().html()

});

});

      $( ".aaa" ).mouseout(function() {
  $(this).css("background","white")
  $(this).css("color","black") 
  
  
});



      
</script>

</body>
</html>