
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
{% load static %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}" />



{{msj}}

<h1> <a class ='logos' href='/tickets_asignados'><IMG SRC="/static/img/BOLA8.png" width='70px'>&nbsp<IMG SRC="/static/img/LETRASXIENCIAS1.png" width='450px'></a></h1>

<p class='rg'><a href='/gilda'>Actualizar</a></p>
<META HTTP-EQUIV="REFRESH" CONTENT="60;URL=/gilda">
<table class ='titulo' >
<tr >
   
    <td width='25%' class ='titulo'>Asunto</td>
    <td width='25%' class ='titulo'>Soporte</td>
    <td width='25%' class ='titulo'>Tiempo de Espera</td>
   
</tr>

</table>

<table class ='nuevos'>



{% for ticket_nuevo in ticket_nuevo %}

    <tr class='aaa'>

    <td width='8%' class='id'>{{ticket_nuevo.id}}</td>
    <td width='25%'>{{ticket_nuevo.asunto}}</td>
    <td width='25%'>-</td>
    <td width='25%'>{{ticket_nuevo.dif_fecha}}</td>
   

    </tr>

{% endfor %}

</table >


<table class ='preatendidos'>



{% for ticket_preatendido in ticket_preatendido %}

    <tr class='sss'>

    <td width='8%' class='id'>{{ticket_preatendido.ticket_id}}</td>
    <td width='25%'>{{ticket_preatendido.ticket__asunto}}</td>
    <td width='25%'>{{ticket_preatendido.soporte__username}}</td>
    <!--
    <td width='6%'>{{ticket_preatendido.ticket__fecha_inicio}}</td>
    <td width='10%'>{{ticket_preatendido.dcount}}</td>-->
    <td width='25%'>{{ticket_preatendido.dif_fecha}}</td>

    <!--
    <td width='10%' class='d'><a href="/reasignar_gilda/{{ticket_preatendido.ticket_id}}" >Reasignar</a></td>-->

    </tr>

{% endfor %}

</table>

</table>


<table class ='atendidos'>


{% for ticket_atendido in ticket_atendido %}

    <tr class='atendido'>

    <td width='8%' class='id'>{{ticket_atendido.ticket_id}}</td>
    <td width='25%'>{{ticket_atendido.ticket__asunto}}</td>
    <td width='25%'>{{ticket_atendido.soporte__username}}</td>
    <td width='25%'>{{ticket_atendido.dif_fecha}}</td>
    

    </tr>

{% endfor %}




{% for ticket_reasignado in ticket_reasignado %}

    <tr class='atendido'>

    <td width='8%' class='id'>{{ticket_reasignado.ticket_id}}</td>
    <td width='25%'>{{ticket_reasignado.ticket__asunto}}</td>
    <td width='25%'>{{ticket_reasignado.soporte__username}}</td>
    <td width='25%'>{{ticket_reasignado.dif_fecha}}</td>
    

    </tr>

{% endfor %}

</table>


<table class ='porvalidar'>


{% for ticket_cerrados in ticket_cerrados %}

    <tr class='porvalidars'>

    <td width='8%' class='id'>{{ticket_cerrados.ticket_id}}</td>
    <td width='25%'>{{ticket_cerrados.ticket__asunto}}</td>
    <td width='25%'>{{ticket_cerrados.soporte__username}}</td>
    <td width='25%'>{{ticket_cerrados.dif_fecha}}</td>
    
  

    </tr>

{% endfor %}

</table>


<script type="text/javascript">

    $(".id").hide()
    
    $( ".sss" ).mouseover(function() {


  console.log($(this).children().html())

    $( ".sss" ).click(function() {
    $(this).css("background",'#5C84C2');
    window.location.href = "/reasignar_gilda/"+$(this).children().html()

});

});




  $( ".aaa" ).mouseover(function() {


  console.log($(this).children().html())

    $( ".aaa" ).click(function() {
    
    $(this).css("background","#5C84C2");
    window.location.href = "/asignar_gilda/"+$(this).children().html()


});

});

    $( ".atendido" ).mouseover(function() {


  console.log($(this).children().html())

    $( ".atendido" ).click(function() {
    
    $(this).css("background","#5C84C2");
    window.location.href = "/ver_ticket_gilda/"+$(this).children().html()


});

});


    $( ".porvalidars" ).mouseover(function() {


  console.log($(this).children().html())

    $( ".porvalidars" ).click(function() {
    
    $(this).css("background","#5C84C2");
    window.location.href = "/ver_ticket_gilda/"+$(this).children().html()


});

});




      
</script>


</body>
</html>