<header>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
  <h1><a href='/ticket/1'>Logos {{grupo}}</a></h1>


{% include "layout.html" %}

<nav>

<div id="top-menu">
    <ul class="nav">


     <li><a href="/ticket/1">Nuevos</a></li>
   

      
    <li><a href="/ticket/2">Atendidos</a></li>
       <li><a href="/ticket/3">En Prueba</a></li>
          <li><a href="/ticket/4">Cerrados</a></li>

<li><a href="/agregar_ticket">Agregar Ticket</a></li>

<li><a href="/realtime">Real Time Ticket</a></li>
   <li><a href="">Bienvenido, {{username}}</a></li>
 <li><a href="/salir">Salir</a></li>


</div>
</nav>



</header>

