

{% include "layout.html" %}

<body>

{% include "header.html" %}




{{msj}}




{% if ticket %}
<table>
 <tr>
Tickets {{estado_name}}
  </tr>
   <tr>
    <td>Usuario</td>
    <td>Asunto</td>
    <td>Tipo</td> 

    <td>Fecha de Inicio</td>

	{% if estado_name == 'Cerrados' %}
		 <td>Fecha de Fin</td>
	{% endif %}

	{% if estado_name == 'Atendidos' %}
		  <td>Soporte Asignado</td>
	{% endif %}

	{% if estado_name == 'En Prueba' %}
		  <td>Soporte Asignado</td>
	{% endif %}

   
    <td>Estado</td>
    <td>Detalle</td>
    <td>Documentos</td>
    <td>Accion</td>

  </tr>


{% for ticket in ticket%}
	
	
	<tr>
	
	<td width='10%'><a href='/ver_usuario/{{ticket.cliente_id}}/'>{{ticket.cliente}}</a></td>
	<td width='20%'>{{ticket.asunto}}</td>
	<td width='10%'>{{ticket.tipo}}</td>
	<td width='15%'>{{ticket.fecha_inicio}}</td>
	{% if estado_name == 'Cerrados' %}
		<td width='18%'>{{ticket.fecha_fin}}</td>

	{% endif %}



		{% for soporte in soporte %}

			{% if soporte.ticket_id == ticket.id %}
			<td width='10%'><a href='/ver_usuario/{{soporte.soporte_id}}/'>{{soporte.soporte}}</a></td>

			{% endif %}
			
		{% endfor %}


	<td width='10%'>{{ticket.estado}}</td>
	<td width='10%'><a href='/detalle_ticket/{{ticket.id}}'>Mas detalle</a></td>
	<td width='10%'><a href='/documentos/{{ticket.id}}'>Documentos</a></td>

	{% if grupo == 'Soporte' %}
		{% if estado_name == 'Nuevos' %}
		<td width='10%'><a href='/atender/{{ticket.id}}'>Atender</a></td>
		{% endif %}
		{% if estado_name == 'Atendidos' %}
		<td width='12%'><a href='/cerrar/{{ticket.id}}'>Enviar a validar</a></td>
		
		

		{% endif %}
		{% if estado_name == 'En Prueba' %}
		<td width='20%'><a href=''>En Prueba</a></td>
		{% endif %}
		{% if estado_name == 'Cerrados' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}
	{% else %}
	{% if estado_name == 'Nuevos' %}
		<td width='10%'><a href=''>-</a></td>
		{% endif %}
		{% if estado_name == 'Atendidos' %}
		<td width='10%'><a href=''>-</a></td>
		{% endif %}
		{% if estado_name == 'En Prueba' %}
		<td width='20%'><a href='/validar/{{ticket.id}}'>Validar</a></td>
		{% endif %}
		{% if estado_name == 'Cerrados' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}
	{% endif %}
	</tr>
{% endfor %}


</table>


{% else %}
<a>No hay tickets</a>
{% endif %}







</body>
</html>