<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
       

{% include "layout.html" %}

<body>



<link href="http://fonts.googleapis.com/css?family=Open Sans" type="text/css" rel="stylesheet" />

</head>
<body>

    <script type="text/javascript">
        $(document).ready(function() {
            var id_ori_llamada = 'xxx';

            $("#button").click(function() {
                    var username = $("#username").val();
                    var password = $("#password").val();
                    $.ajax({
                        url : "/push", 
                        type : "POST", 
                        dataType:"json",
                        data : {
                            username: username,
                            password: password,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success : function(json) {

                                console.log(json)
                                $('#result').append(json);
                                if (json=='Login') {

							     window.location.href = "/ticket/1"
                                
								}
                            },
                    });
                    return false;
            });
        });
</script>



<div id='contenedor'>

<div id='login'>

<form method="post" name="example form" class="form-horizontal" role="form">
        {% csrf_token %}
        <a>Usuario</a>
        <input name="username" id="username" type="text" placeholder='Username' class="form-control">
         <a>Password</a>
        <input name="password" id="password" type="password" placeholder='Password' class="form-control">
        <br><br>
        <input id="button" type="button" value="Login" class="form-control"></input>
</form>
<div id="result">
</div>
</div>

</div>









</body>
</html>