

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

    <title>Xiencias</title>

  {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet" type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/hello.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-feedly-mini="yes">

{% include "mheader.html" %}
  {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>



<div class="container">

     <!-- Main component for a primary marketing message or call to action -->
   <div class="jumbotron">
        
   
        <p>
          <a class="btn btn-lg btn-primary" href="/agregar_ticket_m" role="button">Generar Ticket &raquo;</a>
        </p>

        <h1>{{ticket.asunto}}</h1>
        <h3>Tiempo de espera : {{espera}}</h3>
      </div>

      </div>


<table class ='table'>


        <tr>

       <td >Descripcion</td>
      <td >{{ticket.descripcion}}</td>

     
      </tr>

 
  

      <tr>
      <td >Usuario</td>
      <td ><a href='/ver_usuario/{{ticket.cliente_id}}/'>{{ticket.cliente}}</a></td>
      </tr>

      <tr>
      <td >Tipo</td> 
      <td >{{ticket.tipo}}</td>
      </tr>

      <tr>
      <td >Fecha de Inicio</td>
      <td >{{ticket.fecha_inicio}}</td>
      
      </tr>

      <tr>
      <td >Fecha de Fin</td>
      <td >{{ticket.fecha_fin}}</td>
      
      </tr>
      <tr>
      
      <td  >Estado</td>
      <td >{{ticket.estado}}</td>

      </tr>

      <tr>


        <td>Soporte Actual</td>
      <td >{{ticket.soporte_actual}}</td>



      </tr>
      <tr> 
      <td  >Documentos</td>
      <td ><a href='/documentos/{{ticket.id}}'>Documentos</a></td>
      </tr>


    


</table>

   


      {% if grupo == 'Soporte' %}

        {% if estado == 'Nuevo' %}
        <div id='b'>

        <p>
          <a class="btn btn-lg btn-primary" href="/atender/{{ticket.id}}" role="button">Atender &raquo;</a>
        </p>

        </div>



  
        {% endif %}

          {% if estado == 'Preatendido' %}
          <div id='b'>

          <p>
          <a class="btn btn-lg btn-primary" href="/atender/{{ticket.id}}" role="button">Atender &raquo;</a>

          </p>
          </div>

          <div id ='b'>
          <p>
          <a class="btn btn-lg btn-primary" href="/validar/{{ticket.id}}" role="button">Cerrar &raquo;</a>
          
          </p>

          </div>



          {% endif %}

    





          {% if estado == 'Atendido' %}

          <div id='b'>

          <p>
          <a class="btn btn-lg btn-primary" href="/cerrar/{{ticket.id}}" role="button">Validar &raquo;</a>
          </p>

          </div>

          <div id='b'>

          <p>
          <a class="btn btn-lg btn-primary" href="/validar/{{ticket.id}}" role="button">Cerrar &raquo;</a>
          </p>

          </div>

  
          {% endif %}

          {% if estado == 'Prueba' %}

          <div id='b'>

          <p>
          <a class="btn btn-lg btn-primary" href="/validar/{{ticket.id}}" role="button">Cerrar &raquo;</a>
          </p>

          </div>

  
          {% endif %}

          {% if estado == 'Reasignado' %}

          <div id='b'>

          <p>
          <a class="btn btn-lg btn-primary" href="/validar/{{ticket.id}}" role="button">Cerrar &raquo;</a>
          </p>

          </div>

  
          {% endif %}

      {% else %}

          {% if estado == 'Cerrado' %}


          {% else %}


          <div id='b'>

          <p>
          <a class="btn btn-lg btn-primary" href="/validar/{{ticket.id}}" role="button">Cerrar &raquo;</a>
          </p>

          </div>

          {% endif %}

      {% endif %} 


<br></br>
{% if soportes %}
<table class='table'>
  
  <tr>
  Historial de Soporte
  </tr>
  
  <tr >

    <td>Soporte</td>
    


    {% if grupo == 'Soporte' %}
      <td>Reasignar</td>
   
    {% endif %}

    <td>Evento</td>
   <td>Detalle</td>
  
  </tr>


  {% for soportes in soportes%}
  <tr>

    <td ><a href='/ver_usuario/{{soportes.soporte_id}}/'>{{soportes.soporte}}</a></td>
  

    {% if soportes.fecha_fin == None %}
      
      {% if grupo == 'Soporte' %}
      <td ><a href='/reasignar/{{soportes.id}}/{{ticket.id}}'>Reasignar</a></td>

      
      {% endif %}
    
      <td ><a href='/evento/{{soportes.id}}/{{ticket.id}}'>Agregar un evento</a></td>
    
    {% else %}

      {% if grupo == 'Soporte' %}
        <td><a href=''>-</a></td>

      {% endif %}
        <td ><a href=''>-</a></td>
    
    {% endif %}

   <td ><a href='/ver_evento/{{soportes.id}}/{{ticket.id}}'>Detalle</a></td>

  </tr>

  {% endfor %}


</table>

{% else %}

<p>Este ticket no ha sido asignado</p>

{% endif %}











<style type="text/css">
  
  #b{

  vertical-align: middle;
  display: inline-block;
  width:40%;
  text-align: center;
  }



</style>

  </body>
</html>
