
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Xiencias</title>

  {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet" type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/hello.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Xiencias</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/mticket/1">Tickets Nuevo</a></li>
              <li><a href="/mticket/2">Tickets Atendidos</a></li>
              <li><a href="/mticket/3">Tickets En Prueba</a></li>
               <li><a href="/mticket/4">Tickets Cerrados</a></li>
               <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>-->
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">{{username}} <span class="sr-only"></span></a></li>
              <li><a href="/msalir">Salir</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{username}}</h1>
   
        <p>
          <a class="btn btn-lg btn-primary" href="/agregar_ticket_m" role="button">Generar Ticket &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


     <script src="{% static 'js/hello1.js' %}"></script>
     <script src="{% static 'js/bootstrap.js' %}"></script>

     {% if ticket %}
<table class="table">
 <tr>
Tickets {{estado_name}}
  </tr>
   <tr>
    <td>Usuario</td>
    <td>Asunto</td>
    <td>Tipo</td> 

    <td>Fecha de Inicio</td>

	{% if estado_name == 'Cerrados' %}
		 <td>Fecha de Fin</td>
	{% endif %}
<!--
	{% if estado_name == 'Atendidos' %}
		  <td>Soporte Asignado</td>
	{% endif %}

	{% if estado_name == 'En Prueba' %}
		  <td>Soporte Asignado</td>
	{% endif %}-->

   
    <td>Estado</td>
    <td>Detalle</td>
    <td>Documentos</td>
    <td>Accion</td>

  </tr>


{% for ticket in ticket%}
	
	
	<tr>
	
	<td width='6%'><a href='/ver_usuario/{{ticket.cliente_id}}/'>{{ticket.cliente}}</a></td>
	<td width='10%'>{{ticket.asunto}}</td>
	<td width='10%'>{{ticket.tipo}}</td>
	<td width='15%'>{{ticket.fecha_inicio}}</td>
	{% if estado_name == 'Cerrados' %}
	<td width='18%'>{{ticket.fecha_fin}}</td>
	{% endif %}


<!--
		{% for soporte in soporte %}

			{% if soporte.ticket_id == ticket.id %}
			<td width='10%'><a href='/ver_usuario/{{soporte.soporte_id}}/'>{{soporte.soporte}}</a></td>

			{% endif %}
			
		{% endfor %}-->


	<td width='6%'>{{ticket.estado}}</td>
	<td width='10%'><a href='/detalle_ticket/{{ticket.id}}'>Mas detalle</a></td>
	<td width='10%'><a href='/documentos/{{ticket.id}}'>Documentos</a></td>

	{% if grupo == 'Soporte' %}
		{% if estado_name == 'Nuevos' %}
		<td width='10%'><a href='/atender/{{ticket.id}}'>Atender</a></td>
		{% endif %}
		{% if estado_name == 'Atendidos' %}
		<td width='12%'><a href='/cerrar/{{ticket.id}}'>Enviar a validar</a></td>
		{% endif %}
		{% if estado_name == 'En Prueba' %}
		<td width='20%'><a href=''>-</td>
		{% endif %}
		{% if estado_name == 'Cerrados' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}
		{% if estado_name == 'Reasignado' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}

		{% if estado_name == 'Preatendido' %}
		<td width='20%'><a href='/atender/{{ticket.id}}'>Atender</a></td>
		{% endif %}
	{% else %}


	{% if estado_name == 'Nuevos' %}
		<td width='10%'><a href='/validar/{{ticket.id}}'>Cerrar</a></td>
		{% endif %}
		{% if estado_name == 'Atendidos' %}
		<td width='20%'><a href='/validar/{{ticket.id}}'>Cerrar</a></td>
		{% endif %}
		{% if estado_name == 'En Prueba' %}
		<td width='20%'><a href='/validar/{{ticket.id}}'>Cerrar</a></td>
		{% endif %}
		{% if estado_name == 'Cerrados' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}

		{% if estado_name == 'Preatendido' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}
	{% endif %}
	</tr>
{% endfor %}


</table>



{% else %}
<a>No hay tickets</a>
{% endif %}


  </body>
</html>
