
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

    <title>Xiencias</title>


  </head>

  <body>

{% include "mheader.html" %}

  {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
  


     <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        
   
        <p>
          <a class="btn btn-lg btn-primary" href="/agregar_ticket_m" role="button">Generar Ticket &raquo;</a>
        </p>

        <h1>{{estado_name}}</h1>
      </div>

  

     {% if ticket %}
<table class="table">

   <tr class="active">
    <td>Usuario</td>
    <td>Asunto</td>
   

    <td>Descripcion</td>

	{% if estado_name == 'Cerrados' %}
		 <td>Fecha de Fin</td>
	{% endif %}


  </tr>


{% for ticket in ticket%}
	
	
	<tr class='sss'>
	<td class='id'>{{ticket.id}}</td>
	<td ><a href='/ver_usuario/{{ticket.cliente_id}}/'>{{ticket.cliente}}</a></td>
	<td >{{ticket.asunto}}</td>
	
	<td >{{ticket.descripcion}}</td>
	{% if estado_name == 'Cerrados' %}
	<td >{{ticket.fecha_fin}}</td>
	{% endif %}



	</tr>
{% endfor %}


</table>



{% else %}
<a>No hay tickets</a>
{% endif %}


  </body>


<script type="text/javascript">

	$('.id').hide()
    $( ".sss" ).click(function() {
    $(this).css("background",'#2e6da4');
    $(this).css("color",'#fff');
    window.location.href = "/mdetalle_ticket/"+$(this).children().html()

});

</script>

</html>