

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

    <title>Xiencias</title>


  </head>

<body>


  <body data-feedly-mini="yes">

    <div class="container">

{% include "mheader.html" %}

  {% load static %} 

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css'>

 

   <div class="jumbotron">
        
   
        <p>
          <a class="btn btn-lg btn-primary" href="/agregar_ticket_m" role="button">Generar Ticket &raquo;</a>
        </p>

       
        <h1><a href='/mdetalle_ticket/{{soporte.ticket_id}}/'>{{soporte.ticket}}</a></h1>
        <h2>Reasignar</h2>
        
      </div>

      </div>


{{msj}}


<form action="/reasignar_add/" method="post" class="form-signin">
    
    {% csrf_token %}
    
    <input value="{{id_ticket}}" id="field" type="hidden" name="id_ticket" maxlength="100" class="form-control" >
    <input readonly value="{{soporte.id}}" id="field" type="hidden" name="id" maxlength="100" class="form-control"><br>
 



    <label class="sr-only">Soporte :</label><br>

    <select class="form-control" name="soporte" id="tipo">
    {% for user_soporte in user_soporte%}
     <option value="{{user_soporte.id}}">{{user_soporte.first_name}}</option>
	{% endfor %}
    </select> 
   
   <textarea required="" id="file" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" rows="5" cols="30"></textarea><br>

    
  
  
    <label class='etiqueta'></label><input  class="btn btn-lg btn-primary btn-block" id="field1" type="submit" value="Reasignar Ticket" /></div>

</form>


</div>







</body>
</html>