
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

<p class='rg'>Escoja un soporte</p> 
<div id='movil'>
<div id='soporte_act'>{{soporte}}</div>
<div id='ticket_id'>{{ticket.id}}</div>


<table>
    
 {% for user_soporte in user_soporte%}
    <tr class='reasignar'>
     <td >{{user_soporte.id}}</td>
     <td >{{user_soporte.username}}</td>
     </tr>
{% endfor %}

</table>
</div>


<div id='contenedor'>

<div id='form'>

<form action="/reasignar_post_gilda/" method="post" class='ticket'>
    
    {% csrf_token %}
    
    Ticket {{ticket.asunto}}

    <br>
    <input value="{{soporte}}" id="field" type="hidden" name="soporte_act" maxlength="100">
    <input value="{{ticket.id}}" id="field" type="hidden" name="ticket" maxlength="100"><br>
    <label class='etiqueta'>Soporte :</label><br>

    <select name="soporte" id="tipo">
    {% for user_soporte in user_soporte%}
     <option value="{{user_soporte.id}}">{{user_soporte.username}}</option>
	{% endfor %}
    </select>

     <br>
  

    <label class='etiqueta'></label><div id='field'><br><input  id="field1" type="submit" value="Asignar Ticket" /></div>

</form>

<script type="text/javascript">

$("#soporte_act").hide()
$("#ticket_id").hide()

console.log($("#form").width())

if ($("#form").width() < 700) {

  $("#contenedor").hide()
  $("#movil").show()
}

if ($("#form").width() > 700) {

  $("#contenedor").show()
  $("#movil").hide()
}


 $( ".reasignar" ).mouseover(function() {

  soporte = $("#soporte_act").text()
  ticket = $("#ticket_id").text()

  console.log(soporte)
  console.log(ticket)
  



    $( ".reasignar" ).click(function() {

    soporte_act = $(this).children().html()
    $(this).css("background","black");
    window.location.href = "/reasignar_post_gilda_new/"+soporte+"/"+ticket+"/"+soporte_act

});

});


</script>



</div>
</div>
