{% if grupo == 'Soporte' %}

{% include "header.html" %}

{{msj}}


{% if ticket_preatendido %}
Tickets Asignados
<table>

<tr class='titulo'>
  
    <td>Cliente</td>
    <td>Asunto</td>
    <td>Soporte Asignado</td>
    <td>Fecha Inicio Ticket</td>
    <td>Fecha Inicio de Asignacion</td>
    <td>Detalle</td>
    <td>Tiempo de Espera</td>
    <td>Accion</td>
</tr>

{% for ticket_preatendido in ticket_preatendido %}

    <tr class='ticket'>


   
    <td width='6%'><a href='/ver_usuario/{{ticket_preatendido.ticket__cliente}}'>{{ticket_preatendido.ticket__cliente}}</a></td>
    <td width='20%'>{{ticket_preatendido.ticket__asunto}}</td>
    <td width='10%'>{{ticket_preatendido.soporte__username}}</td>
    <td width='20%'>{{ticket_preatendido.ticket__fecha_inicio}}</td>
    <td width='20%'>{{ticket_preatendido.dcount}}</td>
    <td width='10%'><a href="/detalle_ticket/{{ticket_preatendido.ticket_id}}" >Detalle</a></td>
    <td width='20%'>{{ticket_preatendido.dif_fecha}}</td>

    <td width='20%'><a href="/atender/{{ticket_preatendido.ticket_id}}" >Atender</a></td>

    </tr>

{% endfor %}

</table>
{% endif %}

{% if ticket_reasignado %}

<a>Tickets Reasignados <a>
<table>

<tr class='titulo'>
    
    <td>Cliente</td>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    <td>Detalle</td>
    <td>Tiempo de Espera</td>
    <td>Accion</td>
</tr>

{% for ticket_reasignado in ticket_reasignado %}

    <tr class='ticket'>

  
     <td width='6%'><a href='/ver_usuario/{{ticket_reasignado.ticket__cliente}}'>{{ticket_reasignado.ticket__cliente}}</a></td>
    <td width='20%'>{{ticket_reasignado.ticket__asunto}}</td>
    <td width='20%'>{{ticket_reasignado.ticket__fecha_inicio}}</td>
    <td width='20%'><a href="/detalle_ticket/{{ticket_reasignado.ticket_id}}" >Detalle</a></td>
    <td width='20%'>{{ticket_reasignado.dif_fecha}}</td>
    <td width='20%'><a href="/atender/{{ticket_reasignado.ticket_id}}" >Atender</a></td>
    </tr>

{% endfor %}

</table>


{% endif %}
<!--
<a>Tickets Nuevos <a>
<table>

<tr>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    <td>Accion</td>
</tr>

{% for ticket_nuevo in ticket_nuevo %}

    <tr>


    <td width='6%'>{{ticket_nuevo.asunto}}</td>
    <td width='10%'>{{ticket_nuevo.fecha_inicio}}</td>
    <td width='10%'><a href="/atender/{{ticket_nuevo.id}}" >Atender</a></td>

    </tr>

{% endfor %}

</table>-->

{% if ticket_atendido %}
<a>Tickets Atendidos <a>
<table>

<tr class='titulo'>
    <td>Cliente</td>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    <td>Ver Detalles</td>
    <td>Accion</td>
    <td>Tiempo de Espera</td>
    <td>Accion</td>
</tr>
{% for ticket_atendido in ticket_atendido %}

    <tr class='ticket'>

     <td width='6%'><a href='/ver_usuario/{{ticket_atendido.ticket__cliente}}'>{{ticket_atendido.ticket__cliente}}</a></td>
    <td width='20%'>{{ticket_atendido.ticket__asunto}}</td>
    <td width='10%'>{{ticket_atendido.ticket__fecha_inicio}}</td>
    <td width='10%'><a href="/detalle_ticket/{{ticket_atendido.ticket_id}}" >Detalle</a></td>
    <td width='10%'><a href="/cerrar/{{ticket_atendido.ticket_id}}" >Enviar a Validar</a></td>
    <td width='20%'>{{ticket_atendido.dif_fecha}}</td>
    <td width='10%'><a href='/validar/{{ticket_atendido.ticket_id}}'>Cerrar</a></td>


    </tr>

{% endfor %}

</table>
{% endif %}
{% if ticket_cerrados %}
<a>Tickets Por Validar <a>
<table>

<tr class='titulo'>
    <td>Cliente</td>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    <td>Detalle</td>
    <td>Tiempo de Espera</td>
    <td>Accion</td>
    
</tr>
{% for ticket_cerrados in ticket_cerrados %}

    <tr class='ticket'>

    <td width='6%'><a href='/ver_usuario/{{ticket_cerrados.ticket__cliente}}'>{{ticket_cerrados.ticket__cliente}}</a></td>
    <td width='20%'>{{ticket_cerrados.ticket__asunto}}</td>
    <td width='10%'>{{ticket_cerrados.ticket__fecha_inicio}}</td>
    <td width='10%'><a href='/detalle_ticket/{{ticket_cerrados.ticket__cliente}}'>Detalle</a></td>
    <td width='20%'>{{ticket_cerrados.dif_fecha}}</td>
    <td width='10%'><a href='/validar/{{ticket_cerrados.ticket_id}}'>Cerrar</a></td>

    </tr>

{% endfor %}

</table>
{% endif %}

{% else %}


<meta http-equiv="Refresh" content="0;url=/ticket/3">

{% endif %}



<script>
$( ".ticket" ).mouseover(function() {
  $(this).css('background-color', '#6495ED');
});

$( ".ticket" ).mouseout(function() {
  $(this).css('background-color', 'white');
});

</script>

</body>

</html>