

{% include "header.html" %}

{{msj}}



Tickets Asignados
<table>

<tr>
    <td>Id</td>
    <td>Asunto</td>
    <td>Soporte Asignado</td>
    <td>Fecha Inicio Ticket</td>
    <td>Fecha Inicio</td>
    <td>Tiempo de Espera</td>
    <td>Accion</td>
</tr>

{% for ticket_preatendido in ticket_preatendido %}

    <tr>

    <td width='6%'><a href='/ver_usuario/{{ticket.cliente_id}}/'>{{ticket_preatendido.ticket_id}}</a></td>


    <td width='20%'>{{ticket_preatendido.ticket__asunto}}</td>
    <td width='10%'>{{ticket_preatendido.soporte__username}}</td>
    <td width='20%'>{{ticket_preatendido.ticket__fecha_inicio}}</td>
    <td width='20%'>{{ticket_preatendido.dcount}}</td>
    <td width='20%'>{{ticket_preatendido.dif_fecha}}</td>

    <td width='20%'><a href="/atender/{{ticket_preatendido.ticket_id}}" >Atender</a></td>

    </tr>

{% endfor %}

</table>

</table>

<a>Tickets Nuevos <a>
<table>

<tr>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    <td>Accion</td>
</tr>

{% for ticket_nuevo in ticket_nuevo %}

    <tr>


    <td width='6%'>{{ticket_nuevo.asunto}}</td>
    <td width='10%'>{{ticket_nuevo.fecha_inicio}}</td>
    <td width='10%'><a href="/atender/{{ticket_nuevo.id}}" >Atender</a></td>

    </tr>

{% endfor %}

</table>


<a>Tickets Atendidos <a>
<table>

<tr>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    <td>Accion</td>
</tr>
{% for ticket_atendido in ticket_atendido %}

    <tr>


    <td width='6%'>{{ticket_atendido.ticket__asunto}}</td>
    <td width='10%'>{{ticket_atendido.ticket__fecha_inicio}}</td>
    <td width='10%'><a href="/cerrar/{{ticket_atendido.ticket_id}}" >Enviar a Validar</a></td>

    </tr>

{% endfor %}

</table>


<a>Tickets Por Validar <a>
<table>

<tr>
    <td>Asunto</td>
    <td>Fecha Inicio</td>
    
</tr>
{% for ticket_cerrados in ticket_cerrados %}

    <tr>


    <td width='6%'>{{ticket_cerrados.ticket__asunto}}</td>
    <td width='10%'>{{ticket_cerrados.ticket__fecha_inicio}}</td>
  

    </tr>

{% endfor %}

</table>



</body>
</html>