

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
{% load static %} 

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type='text/css'>

<div id = "detalle">




<table>
<tr><td>Detalle ticket</td><td></td></tr>
<tr><td>Asunto</td> <td>{{ticket.asunto}}</td></tr>
<tr>

<td>Id</td> <td>{{ticket.id}}</td></tr>
<tr><td>Cliente</td> <td>{{ticket.cliente}}</td></tr>
<tr><td>Asunto</td> <td>{{ticket.asunto}}</td></tr>
<tr><td>Tipo</td> <td>{{ticket.tipo}}</td></tr>
<tr><td>Soporte Actual</td> <td>{{ticket.soporte_actual}}</td></tr>
<tr><td>Descripcion</td> <td>{{ticket.descripcion}}</td></tr>
<tr><td>Fecha Inicio</td> <td>{{ticket.fecha_inicio}}</td></tr>
<tr><td>Fecha Fin</td> <td>{{ticket.fecha_fin}}</td></tr>
<tr><td>Estado</td> <td>{{ticket.estado}}</td></tr>



</table>
</div>

<script>

ticket = $("#ticket_id").text()
$("#ticket_id").hide()

if ($("#form").width() < 700) {

  $("#contenedor").hide()
  $("#movil").show()
  

}

if ($("#form").width() > 700) {

  $("#contenedor").show()
  $("#movil").hide()
}

 $( ".reasignar" ).mouseover(function() {



    $( ".reasignar" ).click(function() {

    soporte = $(this).children().html()

    $(this).css("background","black");
    window.location.href = "/asignar_post_gilda_new/"+soporte+"/"+ticket

});

});


</script>
